body {
  background: url("https://burst.shopifycdn.com/photos/teamwork-makes-the-dream-work.jpg?width=1000&format=pjpg&exif=0&iptc=0") 
    no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Mobile Fix */
@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
  }
}

@media (max-width: 480px) {
  body {
    background-size: contain;
  }
}
@media (max-width: 320px) {
  body {
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed;
  }
}
